.betterYT {
    font-size: 14px;
    font-family: "Roboto", "Noto", sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 4px;
    text-align: center;
}

.volumeSlider {
    
}

.betterYT-renderer {
    display: inline-block;
}

.betterYT-button-shape {
    display: flex;
}

.volumeSlider{
    -webkit-appearance: slider-vertical;
    position: absolute;
    right: -40px;
    top: 40px;
}

@media screen and (max-width: 599px) {
    .volumeSlider {
      -webkit-appearance: slider-horizontal;
      right: 44px;
      top: 18px;
    }
}