.betterYT {
    font-size: 14px;
    font-family: "Roboto", "Noto", sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 4px;
    text-align: center;
}

.playBack{

}

.betterYT-container{
    background-color: #272727;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
}

.betterYT-container:hover{
    cursor: pointer;
    background-color: #3f3f3f;
}

.betterYT-container > div {
    width: 100%;
}


.betterYT-container > div > p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
