.betterYT-renderer {
    display: inline-block;
}

.betterYT-button-shape {
    display: flex;
}

.volumeSlider{
    -webkit-appearance: slider-vertical;
    position: absolute;
    right: -40px;
    top: 40px;
    opacity: 0.4;
}

.volumeSlider:hover{
    opacity: 1;
}

.autoplay-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 27px;
}

/* Hide default HTML checkbox */
.autoplay-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.autoplay-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #272727;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 27px;
}

.autoplay-slider:hover {
    background-color: #3f3f3f;
}

.autoplay-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .autoplay-slider {
    background-color: #3f3f3f;
}

input:checked + .autoplay-slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}
  
@media screen and (max-width: 599px) {
    .volumeSlider {
      -webkit-appearance: slider-horizontal;
      right: 44px;
      top: 18px;
    }
    .autoplay-slider {
        background-color: #FFFFFF1A;
    }
    input:checked + .autoplay-slider {
        background-color: #FFFFFF2A;
    }
    .betterYT-auto {
        padding-bottom: 16px;
    }
}

.betterYT-progress-bar{
    bottom: 0;
    pointer-events: auto !important;
}

.betterYT-progress-bar-hover-overlay{
    height: 5px !important;
}

.betterYT-progress-bar-hover{
    height: 10px !important;
    cursor: pointer;
}

.betterYT-timestamp-tooltip{
    position: absolute;
    display: none;
    background-color: #272727;
    border-radius: 5px;
    padding: 3px;
    font-size: 11px;
    color: white;
    z-index: 9999;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
}