.betterYT {
    font-size: 14px;
    font-family: "Roboto", "Noto", sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 4px;
    text-align: center;
}

.playBack{

}

.betterYT-container{
    background-color: #272727;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
}

.betterYT-container:hover{
    cursor: pointer;
    background-color: #3f3f3f;
}

.betterYT-container > div {
    width: 100%;
}


.betterYT-container > div > p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.volumeSlider{
    -webkit-appearance: slider-vertical;
    position: absolute;
    right: -40px;
    top: 40px;
}

.betterYT-progress-bar{
    bottom: 0;
    pointer-events: auto !important;
}

.betterYT-progress-bar-hover-overlay{
    height: 5px !important;
}

.betterYT-progress-bar-hover{
    height: 10px !important;
    cursor: pointer;
}

.betterYT-timestamp-tooltip{
    position: absolute;
    display: none;
    background-color: #272727;
    border-radius: 5px;
    padding: 3px;
    font-size: 10px;
    color: white;
    z-index: 9999;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
}