@import url("./globals.css");

#actions {
  pointer-events: none !important;

  div {
    pointer-events: all !important;
  }
}

.betterYT {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.betterYT-renderer {
  display: inline-block;
}

.betterYT-button-shape {
  display: flex;
}

// .betterYT-volume-slider {
//   // -webkit-appearance: slider-vertical;
//   position: absolute;
//   height: 100px;
//   right: -40px;
//   top: 40px;
//   opacity: 0.4;
//   pointer-events: all !important;
//   accent-color: var(--yt-brand-color);
//   cursor: pointer;
// }

@supports (-moz-appearance: none) {
  .volume-slider {
    right: 16px;
  }
}

.volume-slider:hover {
  opacity: 1;
}

.betterYT-volume-slider
{
  position: absolute;
  pointer-events: all !important;
  accent-color: rgba(255,255,255,0.2);
  opacity: 0.2;
  transition: opacity .2s;
  cursor: pointer;
  height: fit-content;
}

.betterYT-volume-slider.horizontal {
  -webkit-appearance: slider-horizontal;
  top: 17.5px;
  right: 50px;
}

.betterYT-volume-slider.vertical {
  -webkit-appearance: slider-vertical;
  height: 100px;
  right: 10px;
  width: 33px;
  top: 40px;
}

.autoplay-switch {
  position: relative;
  display: block;
  width: 48px;
  height: 27px;
  margin: 0 auto;
}

/* Hide default HTML checkbox */
.autoplay-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// tweaks padding when panel is open
ytd-reel-player-overlay-renderer[is-watch-while-mode]div:has( .autoplay-slider )
{
  padding-top: 0px;
  padding-bottom: 16px;
}

div:has( .autoplay-slider )
{
  padding-top: 16px;
}

.autoplay-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.1);
  border-radius: 27px;

  &:hover {
    background-color: rgba(255,255,255,0.2);
  }

  &:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
}

input:checked + .autoplay-slider {
  background-color: rgba(255,255,255,0.2);
}

input:checked + .autoplay-slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

@media screen and (max-width: 599px) {
  .volumeSlider {
    // -webkit-appearance: slider-horizontal;
    right: 44px;
    top: 18px;
  }
  .autoplay-slider {
    background-color: rgba(255,255,255,0.2);
  }
  input:checked + .autoplay-slider {
    background-color: rgba(255,255,255,0.2);
  }
  .betterYT-auto {
    padding-bottom: 16px;
  }
}

.betterYT-progress-bar {
  bottom: 0;
  pointer-events: auto !important;
}

.betterYT-progress-bar-hover {
  height: 10px !important;
  cursor: pointer;
}

.betterYT-timestamp-tooltip {
  position: absolute;
  display: none;
  background-color: #272727c4;
  border-radius: 5px;
  padding: 4px;
  font-size: 11px;
  color: white;
  z-index: 50;
}

.betterYT-hidden {
  visibility: hidden !important;
}
